body{
  font-size: 25px;
  margin: 0px;
  background: hsl(228deg 8% 12%);
}
.main {
  padding: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 50vw;
  padding: 20px 30px 20px;
  background: hsl(0deg 0% 2%);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
input {
  width: 50vw;
  height: 30px;
  border-radius: 5px;
  text-align: center;
}
.output {
  margin: 15px 0px 0px;
  color:white;
}
